#certificateImg {
    width: 32px;
    height:auto;
    border:0;
} 

#certificateLinkText {
    margin-left: 1em;
}

#odi_certificates{
    display: none;
    margin-bottom: 1em;
    margin-top: -1em;
}